<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      body{text-align: center;}
    </style>
</head>
<body>
    <h1 style="border-radius: 5px; border-style: solid; border-color:aqua">{{titulo}}</h1>
		<form action="/resultados" method="get">	
			<input type="search" name="pelicula" placeholder="Buscar ...">
      <hr>
      <select name="tipo_dato" onchange="this.form.submit()">
          <option value="0">Buscar por ...</option>
          <option>Titulo</option>
          <option>Director</option>
          <option>Actor</option>
      </select>        
      <br>

      <input type="submit" value="Buscar">
    </form>
</body>
</html>