{% macro chart(type='Chart',labels='',valores='',colores='',tipo='') -%}
<canvas id="myChart"></canvas>
<script>
    //tipos: line / bar / pie
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {            
        type: "{{tipo}}",            
        data: {
            labels: [
            {% for item in labels %}
                "{{ item }}",
            {% endfor %}                    
            ],
            datasets: [{
                label: "{{ nombrechart }}",
                backgroundColor: [
                    {% for item in colores %}
                        "{{ item }}",
                    {% endfor %}                            

                ],
                borderColor: 'black',
                data: [
                {% for item in valores %}
                    "{{ item }}",
                {% endfor %}                        

                ]
            }]
        },            
        options: {}
    });

</script>
{%- endmacro %}