<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soy los nombres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1>Son las Peliculas</h1>
    <ul class="list-group">
        {% for key,value in peliculas.items() %}            
            <li class="list-group-item">{{ value.titulo }} - {{ value.year }}</li>            
        {% endfor %}
    </ul>
    {% include '/inc/footer.html' %}
</body>
</html>
